@using H5_projekt_2023.models;
@inject NavigationManager _navigationManager;
@inject codes.EncryptionTest _encryption;
@inject Repo.UserRepo _context;
@inject models.UserInfo _userinfo;
@page "/"

<PageTitle>Index</PageTitle>

@if(userInfoList != null)
{
    @foreach (var item in userInfoList)
    {
        
        <h1>Hello, @item.FirstName @item.LastName !</h1>
    }
} 
@if(userInfoList.Count == 0) {
    <h1>Hello, @UserEmail</h1>
    <p class="fs-4 text-start">You seem to have no user profile...</p>
    <button @onclick="@(()=>_navigationManager.NavigateTo("/CreateUserProfile"))" type="button" class="btn btn-primary">Create Profile</button>
}





@code{
    [Parameter]
    public int Id{ get; set; }
    public string UserEmail = "";
    public List<UserInfo> userInfoList;
    public string name = "";
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask{ get; set; }

    protected override async Task OnInitializedAsync()
    {



        userInfoList = new List<UserInfo>();
        var AuthState = await authenticationStateTask;
        var user = AuthState.User;
        if(user.Identity != null)
        {
            if (!user.Identity.IsAuthenticated)
            {
                _navigationManager.NavigateTo("Identity/Account/Login");
            }
        }
        UserEmail = user.Identity.Name;
        await GetData();
        SetId();

    }

    protected void SetId()
    {
        foreach(var item in userInfoList)
        {
            Id = item.Id;
        }
    }

    public async Task GetData()
    {
        List<UserInfo> ItemList = await _context.getAll(UserEmail);
        userInfoList = ItemList.Select(obj => new UserInfo
            {
                Id = obj.Id,
                FirstName = obj.FirstName,
                LastName = obj.LastName,
                City = obj.City,
                Postal = obj.Postal,
                Age = obj.Age,


    }).ToList();
    }
}