@using H5_projekt_2023.models;
@inject NavigationManager _navigationManager;
@inject codes.EncryptionTest _encryption;
@inject Repo.UserRepo _context;
@inject models.UserInfo _userinfo;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


@code{
    public string UserEmail = "";
    public List<UserInfo> userinfoList;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask{ get; set; }

    protected override async Task OnInitializedAsync()
    {

        var AuthState = await authenticationStateTask;
        var user = AuthState.User;
        if(user.Identity != null)
        {
            if (!user.Identity.IsAuthenticated)
            {
                _navigationManager.NavigateTo("Identity/Account/Login");
            }
        }
        UserEmail = user.Identity.Name;
    }
}